:root {
	--black: #000000;
	--white: #fcfcfc;
	--lightgray: #bdbdbd;
	--darkgray: #787878;
	--lightblue: #3cbcfc;
	--darkblue: #0078f8;
	--lightrose: #f8a4c0;
	--darkrose: #e40058;
	--lightorange: #f87858;
	--darkorange: #f83800;
	--lightyellow: #f8d878;
	--darkyellow: #f8b800;
	--shadowyellow: #ac7c00;
	--lightgreen: #58d854;
	--darkgreen: #00a800;

	--Abril: 'Abril Fatface', cursive;
	--Oswald: 'Oswald', sans-serif;
	--Handwriting: 'Rock Salt', cursive;
	--Roboto: 'Roboto', sans-serif;

	--Big: 10em;
	--Medium: 2em;
	--Small: 1.7em;
  }

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
	background-color: var(--lightblue);
	color: var(--black);
}
